【源码阅读系列】js-cookie库

###  前情概要

HTTP连接是无状态的，客户端和服务端使用HTTP协议进行通信时，无法识别用户身份，因此，cookie应运而生。cookie会在每一次HTTP请求时传递给服务端，服务端可以通过解析请求中携带的cookie，获取相关的信息，从而解决了以上问题。

#### cookie格式

浏览器中的存储的cookie内容由多个cookie组成，使用分号 + 空格（; ）进行连接。每条cookie由一个键值对和多个属性组成（属性可以不设置），属性包括：

- __path：__ cookie生效路径
- __domain：__ cookie生效域名，可以是二级域名，如.github.com，该二级域名下所有子域名都生效
- __expires：__ cookie失效时间
- __secure：__ 仅HTTPS请求生效
- __httpOnly：__ 该cookie仅服务端访问，前端无法操作该cookie

```shell
cookie-pair; cookie-pair...

cookie-pair: key=value;path=/;domain=.github.com;expires=date-in-GMTString-format;secure;httpOnly
```

#### 基本用法

##### 1、获取浏览器中的cookie

```javascript
var cookies = document.cookie
// _ga=GA1.2.443519896.1625911353; preferredlocale=zh-CN; _gid=GA1.2.675278205.1639803172; 
```

##### 2、设置浏览器中的cookie

> ⚠️注意：
>
> 1. 每次只能设置一条cookie内容，同时设置多条cookie，仅有第一条cookie生效
> 2. 同样的键值，在不同domain、path组合下，会生成不同cookie条目
> 3. 前端httpOnly、secure属性时，cookie设置操作不生效

```javascript
document.cookie = 'foo=bar'
// foo=bar; _ga=GA1.2.443519896.1625911353; preferredlocale=zh-CN; _gid=GA1.2.675278205.1639803172; lux_uid=163981033765476937
```

-------------

### js-cookie功能简单介绍

通过上面的简单介绍，可以得知：在浏览器中对cookie进行存取操作都是通过  `document.cookie`  统一操作，存在一定的迷惑性。是否可以针对cookie的存取分别提供一个getter和setter方法呢，[js-cookie](https://github.com/js-cookie/js-cookie) 工具库就提供以上功能。

#### js-cookie类库特性

js-cookie是一个简单、轻量级的cookie操作类库，它包括以下特性：

1. 兼容所有浏览器：内部未使用ES6语法
2. 支持任何字符：内部对特殊字符进行编/解码操作
3. 不依赖任何三方类库
4. 支持自定义编解码
5. 支持ES Module、AMD、CommonJS
6. 符合[RFC 6265](https://tools.ietf.org/html/rfc6265) 
7. 代码体积小：压缩后体积< 800 bytes
8. 严谨的测试，完善的文档


#### 基本方法

##### 1、设置cookie

```javascript
Cookies.set('foo', 'bar');
// 设置7天后失效cookie
Cookies.set('name', 'value', { expires: 7 });
```

##### 2、获取cookie

```javascript
// 获取指定key的值
Cookies.get('name');
// 获取所有的Cookie键值对组成的对象
Cookies.get();
```

##### 3、删除cookie

```javascript
Cookies.remove('name');
```

-------------

### 源码分析

#### 整体结构

```javascript
import assign from './assign.mjs'
import defaultConverter from './converter.mjs'

function init (converter, defaultAttributes) {
  function set (name, value, attributes) { /*实现省略*/ }
  function get (name) { /*实现省略*/ }
  return Object.create(
    {
      set: set,
      get: get,
      remove: function (name, attributes) {
        set(name, '', assign({}, attributes, { expires: -1 }))
      },
      withAttributes: function (attributes) {
        return init(this.converter, assign({}, this.attributes, attributes))
      },
      withConverter: function (converter) {
        return init(assign({}, this.converter, converter), this.attributes)
      }
    },
    {
      attributes: { value: Object.freeze(defaultAttributes) },
      converter: { value: Object.freeze(converter) }
    }
  )
}

export default init(defaultConverter, { path: '/' })
```

以上为源码中的入口代码，简单分析可以得知：

这段代码中主要实现了一个 __init方法__，该方法返回一个对象，是一个__操作方法集合__。该对象包括：

- __两个自身属性：__ attributes，converter；
- __四个原型方法：__ set、get、remove、withAttributes、withConverter；其中：
  - set、get、remove用于cookie的设置、获取、删除功能；
  - withAttributes、withConverter用于根据用户配置重新创建一个对象；



#### 操作方法实现

##### 1、默认编解码converter

```javascript
export default {
  read: function (value) {
    if (value[0] === '"') {
      value = value.slice(1, -1)
    }
    return value.replace(/(%[\dA-F]{2})+/gi, decodeURIComponent)
  },
  write: function (value) {
    return encodeURIComponent(value).replace(
      /%(2[346BF]|3[AC-F]|40|5[BDE]|60|7[BCD])/g,
      decodeURIComponent
    )
  }
}
```

converter分别提供read、write方法，其中:

- read方法：对所有特殊字符进行解码后返回
- write方法：对部分特殊字段进行编码后返回



##### 2、设置cookie

```javascript
  function set (name, value, attributes) {
    // 代码1: 非浏览器环境下，直接返回，不做任何操作
    if (typeof document === 'undefined') {
      return
    }
  
		// 代码段2: 合并cookie属性
    // 1. 调用init方法进行初始化时，将defaultAttributes注入到闭包中，作为默认属性值
    // 2. assign方法用于将多个多个对象合并成一个对象，此处是将默认属性和用户自定义属性进行合并
    attributes = assign({}, defaultAttributes, attributes)

    // 代码段3: 处理expires（过期时间）
    // 1. expires属性支持设置为Number类型和Date类型
    // 2. 在规范中，cookie的expires属性需要是一个GMT时间字符串，该类库为了方便用户设置，支持用户设置一个数值（单位“天”），
    //    然后将该数值转换对应的Date类型，此时expires可以为整数也可以为小数
    // 3. 为了支持灵活配置，expires支持直接设置为Date类型
    if (typeof attributes.expires === 'number') {
      attributes.expires = new Date(Date.now() + attributes.expires * 864e5)
    }
    if (attributes.expires) {
      attributes.expires = attributes.expires.toUTCString()
    }

    // 代码段4: 编码cookie key，处理非法字符
    // 
  	// ================================ Cookie Name ================================
    // rfc6265规范中对cookie name的要求如下：https://datatracker.ietf.org/doc/html/rfc6265#section-5.4
    // cookie-name       = token
    // token             = <token, defined in [RFC2616], Section 2.2>
    // token             = 1*<any CHAR except CTLs or separators>
    // separators        = "(" | ")" | "<" | ">" | "@"
                           | "," | ";" | ":" | "\" | <">
                           | "/" | "[" | "]" | "?" | "="
                           | "{" | "}" | SP | HT
    // 总结：Cookie Name中不应该包括控制字符和上述分隔符
    // 
    // ================================= encodeURIComponent ===============================
    // encodeURIComponent只字母、十进制、标记字符，其他字符都会进行编码处理
    //     - 字母: a-zA-Z
    //     - 十进制: 0-9
    //     - 标记字符: - _ . ! ~ * ' ( )
    //
    // ============================== escape ==================================
    // 保留字只保留字母、数字、特殊字符
		//     - 字母: a-zA-Z
    //     - 十进制: 0-9
    //     - 标记字符:@ * _ + - . /
    //   
    // 处理逻辑：
    // 首先使用encodeURIComponent方法对cookie Name进行编码处理
    // 然后将encodeURIComponent方法不应该处理的字符（'#'、'$'、'&'、'+'、'^'、'`'、'|'）重新解码
    // 最后使用escape方法处理encodeURIComponent方法遗漏的字符（'('、')'）
    name = encodeURIComponent(name)
      .replace(/%(2[346B]|5E|60|7C)/g, decodeURIComponent)
      .replace(/[()]/g, escape)

    // 代码段5: 处理Cookie属性：将所有属性值拼接成字符串
    // 1. 过滤属性值为falsy的属性
    // 2. 对于属性值为true的，只设置属性名；其他需要将属性名和值用等号进行拼接
    // ⚠️注意：属性值中不应该包括分号（,），根据规范要求，如果存在分号，取分号前面的内容
    var stringifiedAttributes = ''
    for (var attributeName in attributes) {
      if (!attributes[attributeName]) {
        continue
      }

      stringifiedAttributes += '; ' + attributeName

      if (attributes[attributeName] === true) {
        continue
      }

      stringifiedAttributes += '=' + attributes[attributeName].split(';')[0]
    }

    // 代码段6: 使用document.cookie方法设置cookie
    // 首先调用了转换器converter中的write方法对cookie的值进行编码，
    // 然后将Cookie Name、Value、Attribute拼接成整体后进行设置
    return (document.cookie =
      name + '=' + converter.write(value, name) + stringifiedAttributes)
  }
```



##### 3、获取Cookie

```javascript
  function get (name) {
  	// 代码段1:
    // 非浏览器环境下，或者不存在name对象时，直接返回undefined
    //
    // 备注: arguments.length && !name 
    //   * 当name值为空字符串时，arguments.length等于1，!name为false
    if (typeof document === 'undefined' || (arguments.length && !name)) {
      return
    }

    // 代码段2:
    // 通过document.cookie获取所有Cookie组成的字符串
    // 然后通过逗号+空格（; ）将其分割成单个的Cookie键值对字符串
    // 在根据等号（=）分割key和value，Cookie的key值使用decodeURIComponent处理，value值调用converter.read处理
    // 最后根据name字段有无，返回制定key值的键值，或全部Cookie键值对
    //
    // 备注: parts.slice(1).join('=')
    //   * Cookie Value值中允许设置等号（=），因此第一个等号（=）为分隔符，后续的等号都是Value值的一部分
    //   * 因此，需要使用join方法将part除第一个元素以外的元素连接起来
    var cookies = document.cookie ? document.cookie.split('; ') : []
    var jar = {}
    for (var i = 0; i < cookies.length; i++) {
      var parts = cookies[i].split('=')
      var value = parts.slice(1).join('=')

      try {
        var found = decodeURIComponent(parts[0])
        jar[found] = converter.read(value, found)

        if (name === found) {
          break
        }
      } catch (e) {}
    }

    return name ? jar[name] : jar
  }

```



##### 4、删除Cookie

```javascript
// 删除Cookie原理：将expires设置过去值即可
// remove方法中调用set方法，将expires属性值设置为-1，即将过期时间设置为一天前，从而达到删除的效果
function remove(name, attributes) {
  set(
    name,
    '',
    assign({}, attributes, {
      expires: -1
    })
  )
},
```



##### 5、设置默认属性值withAttributes

```javascript
// 重新调用init方法，将自定义attributes 和当前对象的attributes进行merge，返回新创建的操作对象
function withAttributes(attributes) {
  return init(this.converter, assign({}, this.attributes, attributes))
}
```



##### 6、设置自定义编码方法withAttributes

```javascript
// 重新调用init方法，将自定义converter 和当前对象的converter进行merge，返回新创建的操作对象
function withConverter(converter) {
  return init(assign({}, this.converter, converter), this.attributes)
}
```

-------------

### 总结

通过对本库源码的学习：

- 更深入了解对cookie相关基础知识
  - 通过document.cookie即可实现对单个cookie的设置（之前认为需要先自行解析cookie，然后添加/更新，在生成对应字符串进行拼接）
  - 了解了expires属性格式为GMT字符串
  - 将expires设置为过去时间即可删除该cookie
- 了解Object.create方法的使用
  - 第一个参数设置为新对象的原型
  - 第二个参数设置为新对象的自身属性，第二个参数需要像设置defineProperty以下设置属性



在学习过程中，同样发现本库的存在的一些问题：

- 本库每次调用init都会使用Object.create创建一个新的对象，并且第一个参数都是一个新创建的对象，即原型对象都是全新对象；

- Object.create第二个参数中，如果只设置value值的话，默认就是不可写、不可枚举、不可配置的，因此Object.freeze有些多余；

- 在获取Cookie中有一段代码：`typeof document === 'undefined' || (arguments.length && !name)`，这里应该是&&而不是 ||，否则后续使用document.cookie就会异常报错；


-------------

### 拓展

#### 1、escape、encodeURI、encodeURIComponent的区别

escape、encodeURI、encodeURIComponent都是对字符串进行编码，但是其作用效果不同




##### escape方法

- 保留字符串中的字母（a-zA-Z）、数字（0-9）、__特殊字符（@ * _ + - . /）__
- 对其他字符进行编码（转换成`%u`wxyz 或者 `%`xy）
- [escape方法规范](https://262.ecma-international.org/6.0/#sec-escape-string)

- __该方法已经废弃，通常使用encodeURIComponent代替__



##### encodeURI方法 & encodeURIComponent方法

- 上面两个方法主要是用于对URL链接进行编码处理
- 保留字符串中的字母（a-zA-Z）、数字（0-9）、__特殊字符（- _ . ! ~ * ' ( )）__
- 对其他字符进行编码（转换成`%u`wxyz 或者 `%`xy）
- [encodeURI & encodeURIComponent方法中编码规范](https://262.ecma-international.org/6.0/#sec-encode)

- 不同点：
  - encodeURI：作用于完整的URI，因此假设URL保留字（; / ? : @ & = + $,）具备特殊含义，__不对这些保留字进行编码__
  - encodeURIComponent：用于当个URI组件部分，因此假设URL保留字（; / ? : @ & = + $ ,）不具备特殊含义，__直接对这些保留字进行编码__



很棒